<nb-auth-block>
  <h2 class="title">Sign In</h2>
  <small class="form-text sub-title">Hello! Sign in with your email</small>
  <form (ngSubmit)="login()" #form="ngForm">
    <div *ngIf="!submitted && error" class="alert alert-danger" role="alert">
      <div><strong>Authentication failed</strong></div>
    </div>
    <div class="form-group">
      <label for="input-email" class="sr-only">Email address</label>
      <input name="email" [formControl]="email" id="input-email" class="form-control"
             placeholder="Email address"
             [class.form-control-success]="email.touched && email.valid"
             [class.form-control-danger]="email.touched && email.invalid"
             autofocus>
      <small class="form-text error" *ngIf="email.touched && email.invalid">
        Correct email is required!
      </small>
    </div>
    <div class="form-group">
      <label for="input-password" class="sr-only">Password</label>
      <input type="password"
             name="password" [formControl]="password"  id="input-password" class="form-control"
             placeholder="Password"
             [class.form-control-success]="password.touched && password.valid"
             [class.form-control-danger]="password.touched && password.invalid">
      <small class="form-text error" *ngIf="password.touched && password.invalid">
        Password is required!
      </small>
    </div>
    <button type="submit" class="btn btn-block btn-hero-success"
            [disabled]="submitted || email.invalid || password.invalid">
      Sign In
    </button>
  </form>
  <div class="links">
    <small class="form-text">
      Don't have an account? <a routerLink="../register"><strong>Sign Up</strong></a>
    </small>
  </div>
</nb-auth-block>
