<div class="user-container" (click)="toggleMenu()" [ngClass]="{'with-menu' : hasMenu()}">
  <div class="user-icon fa fa-user-circle"></div>
  <div class="info-container">
    <div class="user-name">My Account</div>
  </div>

  <div *ngIf="hasMenu()"
       [ngStyle]="{display: isMenuShown ? 'block' : 'none'}" class="user-context-menu">
    <ul>
      <li class="arrow"></li>
      <li *ngFor="let item of menu" [class.with-icon]="item.icon">
        <a *ngIf="item.link && !item.url" [routerLink]="item.link">
          <span *ngIf="item.icon" class="item-icon {{ item.icon  }}"></span>
          {{ item.title }}
        </a>
      </li>
    </ul>
  </div>
</div>
